.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #293133;
  top: -150%;
  left: 0;
  transition: top 0.3s;
  z-index: 1000;
  box-shadow: 0 5px 3px 1px black;
  display: flex;
  justify-content: center;
  align-items: center;

  &_active {
    top: 0;
  }

  &_wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &_item {
    width: 30px;
    background-color: ivory;
    

    &_1 {
      animation: grow 2s ease-out 0.3s infinite;
      background-color: #9D355C;
    }
    &_2 {
      animation: grow 3s ease-out 0.3s infinite;
      background-color: #FFFEF2;
    }
    &_3 {
      animation: grow 2.5s ease-out 0.3s infinite;
      background-color: #FEC290;
    }
    &_4 {
      animation: grow 1s ease-out 0.3s infinite;
      background-color: 00B463;
    }
    &_5 {
      animation: grow 3.5s ease-out 0.3s infinite;
      background-color: #E52615;
    }
  }
}



@keyframes grow {
  from {
    height: 1%;
  }

  50% {
    height: 70%;
  }

  to {
    height: 1%;
  }
}