@import url("https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,900&display=swap");

body {
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  line-height: 25px;
}

.country {
  &__container {
    margin-top: 120px;
    display: flex;
  }

  &__information,
  &__widgets {
    display: flex;
    flex-direction: column;
    position: relative;
    
    &_button {
      text-align: center;
      cursor: pointer;
      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &_block {
      padding: 10px;
      padding-bottom: 0;
      margin-left: 10px;
      position: fixed;
      z-index: 50;
      background-color: LightGray;
      box-shadow: 3px 3px 7px darkgray;
      border-radius: 10px;
      width: 190px;
      transition: all 0.2s;

      @media screen and (max-width: 768px) {
        top: -460px;
        right: 48px;
        background-color: #2f2f2f;
        color: white;
      }

      @media screen and (max-width: 600px) {
        top: -470px;
        right: 32px;
      }

      &_active {
        @media screen and (max-width: 768px) {
          top: -550px;
          right: 48px;
          transform: translateY(110%);
          transition: all 0.2s;
          background-color: LightGray;
          color:#2f2f2f;
        }

        @media screen and (max-width: 600px) {
          right: 32px;
        }
      }
    }
  }
  &__information {
    width: calc(100% - 200px);
    padding-bottom: 20px;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  &__widgets {
    width: 200px;

    @media screen and (max-width: 768px) {
      width: 0;
    }

    &__exchange {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__description {
    &_town_name {
      text-align: center;
      color: #131313;
    }

    &_text {
      margin: 35px 0;
      text-align: justify;
      text-indent: 20px;
    }

    &_image {
      width: 100%;
    }
  }
}

.map {
  &_wrapper {
    position: relative;
    height: 400px;
  }

  &-container {
    position: absolute;
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.sidebar {
  padding-left: 5px;
  width: 100%;
  background-color: rgba(35, 55, 75, 0.9);
  color: #fafafa;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.weather {
  &__forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__description {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

h3,
.country__widgets__datatime {
  text-align: center;
  margin: 10px;
}

.flag {
  width: 25px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;

  &__eu {
    background-image: url("./flag-icon/eu.png");
  }

  &__us {
    background-image: url("./flag-icon/us.png");
  }
  &__ru {
    background-image: url("./flag-icon/ru.png");
  }
}

.rating {
  display: flex;
  align-items: center;
  height: 30px;
  &__error {
    font-size: 10px;
    background: #c51244;
    box-shadow: 1px 1px 1px #aaaaaa;
  }
}
